/env
/node_modules
/.vscode
.DS_Store
*.log
*.tmp
*.swp
*.bak
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.code-workspace
*.iml
*.idea
*.class
*.jar
*.war
*.ear
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.db-journal
*.sql
*.sqlite
*.tar.gz
*.zip
*.rar
*.7z
*.gz
*.bz2
*.xz
*.tgz
*.tbz2
*.txz
*.lz
*.lzma
*.z
*.Z
*.lz4
*.lzop
*.sz
*.szip
*.iso
*.img
*.bin
*.cue
*.nrg
*.mdf
*.mds
*.ccd
*.sub
*.cdi
*.cif
*.daa
*.dmg
*.toast
*.vcd
*.vmdk
*.vdi
*.vhd
*.vhdx
*.ova
*.ovf
*.qcow
*.qcow2
*.qed
*.vpc
*.vbox
*.vbox-prev
*.vbox-extpack
*.vbox-img
*.vbox-disk
*.vbox-log
*.vbox-prev-log
*.vbox-prev-disk
*.vbox-prev-img
*.vbox-prev-extpack
*.vbox-prev-vdi
*.vbox-prev-vhd
*.vbox-prev-vmdk
*.vbox-prev-vpc
*.vbox-prev-ova
*.vbox-prev-ovf
*.vbox-prev-qcow
*.vbox-prev-qcow2
*.vbox-prev-qed
*.vbox-prev-vbox
*.vbox-prev-vbox-prev
*.vbox-prev-vbox-prev-log
*.vbox-prev-vbox-prev-disk
*.vbox-prev-vbox-prev-img
*.vbox-prev-vbox-prev-extpack
*.vbox-prev-vbox-prev-vdi
*.vbox-prev-vbox-prev-vhd
*.vbox-prev-vbox-prev-vmdk
*.vbox-prev-vbox-prev-vpc
*.vbox-prev-vbox-prev-ova
*.vbox-prev-vbox-prev-ovf
*.vbox-prev-vbox-prev-qcow
*.vbox-prev-vbox-prev-qcow2
*.vbox-prev-vbox-prev-qed
*.vbox-prev-vbox-prev-vbox
*.vbox-prev-vbox-prev-vbox-prev
*.vbox-prev-vbox-prev-vbox-prev-log
*.vbox-prev-vbox-prev-vbox-prev-disk
*.vbox-prev-vbox-prev-vbox-prev-img
*.vbox-prev-vbox-prev-vbox-prev-extpack
*.vbox-prev-vbox-prev-vbox-prev-vdi
*.vbox-prev-vbox-prev-vbox-prev-vhd
*.vbox-prev-vbox-prev-vbox-prev-vmdk
*.vbox-prev-vbox-prev-vbox-prev-vpc
*.vbox-prev-vbox-prev-vbox-prev-ova
*.vbox-prev-vbox-prev-vbox-prev-ovf
*.vbox-prev-vbox-prev-vbox-prev-qcow
*.vbox-prev-vbox-prev-vbox-prev-qcow2
*.vbox-prev-vbox-prev-vbox-prev-qed
*.vbox-prev-vbox-prev-vbox-prev-vbox
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-log
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-disk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-img
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-extpack
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vdi
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vhd
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vmdk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vpc
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-ova
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-ovf
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow2
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-qed
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-log
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-disk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-img
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-extpack
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vdi
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vhd
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vmdk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vpc
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-ova
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-ovf
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow2
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qed
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-log
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-disk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-img
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-extpack
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vdi
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vhd
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vmdk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vpc
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-ova
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-ovf
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow2
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qed
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-log
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-disk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-img
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-extpack
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vdi
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vhd
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vmdk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vpc
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-ova
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-ovf
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow2
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qed
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-log
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-disk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-img
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-extpack
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vdi
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vhd
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vmdk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vpc
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-ova
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-ovf
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow2
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qed
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-log
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-disk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-img
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-extpack
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vdi
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vhd
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vmdk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vpc
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-ova
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-ovf
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow2
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qed
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-log
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-disk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-img
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-extpack
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vdi
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vhd
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vmdk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vpc
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-ova
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-ovf
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qcow2
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-qed
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-log
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-disk
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-img
*.vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox-prev-vbox